# Resource locations to be added to the 'boostrap' path
# This also contains the minimum you need to use the Ogre example framework
# [Bootstrap]
# Zip=../../media/packs/OgreCore.zip

# Resource locations to be added to the default path
[General]
FileSystem=./data
# FileSystem=../../media/fonts
FileSystem=./data/materials/programs
FileSystem=./data/materials/scripts
FileSystem=./data/materials/textures
FileSystem=./data/models
# FileSystem=../../media/overlays
# FileSystem=../../media/particle
# FileSystem=../../media/gui
# FileSystem=../../media/DeferredShadingMedia
# Zip=../../media/packs/cubemap.zip
# Zip=../../media/packs/cubemapsJS.zip
# Zip=../../media/packs/dragon.zip
# Zip=../../media/packs/fresneldemo.zip
# Zip=../../media/packs/ogretestmap.zip
# Zip=../../media/packs/skybox.zip

